/backend/vendor/
/backend/.env
/backend/storage/*.key
/backend/storage/app/public/*
!/backend/storage/app/public/.gitignore
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/*.log
/backend/database/*.sqlite
/playwright-report/
/test-results/
/.idea/
/.vscode/
Thumbs.db
.DS_Store
